<%- include('../includes/head.ejs') %>
<div class="err-page">
  <div class="err-container" style="background-image: url('./images/404.png')">
    <h3>invlaid input</h3>
    <button class="main-btn">
      <a href="/">back</a>
    </button>
  </div>
</div>
